/* ------------------- Keywords, Sites ------------------ */

.input-container {
  background-color: #233248;
  padding: 20px;
  border-radius: 3px 3px 0 0;
}

.input-container-inner {
  background-color: #FFFFFF;
  width: 100%;
  padding: 5px;
  border-radius: 3px;
}

.list-container {
  background-color: #233248;
  padding: 20px;
  border-radius: 0 0 3px 3px;
  height: 75vh;
  overflow: auto;
}

.horizontal-divider {
  height: 1px;
}

.vertical-divider {
  width: 1px;
}

.list-item {
  margin-bottom: 18px;
}

.input-add {
  height: 90%;
  border: 0 solid #ffffff;
  font-size: 15px;
  width: 100%;
}

.input-add:focus {
  outline: none;
}

.bookmark-icon {
  color: #0086F9;
}

.desktop-icon {
  color: #00A94D;
}

/* ---------------------- Settings ---------------------- */

.browser-container {
  background-color: #233248;
  padding: 23px 20px;
  border-radius: 3px 0 0 0;
  border-right: 1px solid #29425E;
  width: 80%;
}

.incognito-container {
  background-color: #233248;
  padding: 23px 20px;
  border-radius: 0 3px 0 0;
  width: 20%;
}

.time-container {
  background-color: #233248;
  padding: 20px;
  border-radius: 0 0  3px 3px;
}

.device-container {
  background-color: #233248;
  padding: 20px;
  border-radius: 3px 3px 0 0;
}

.option-container {
  background-color: #233248;
  padding: 20px;
  border-radius: 0 0 3px 3px;
}

.settings-icon {
  color: #FDBD01;
}

/* -------------------- Input Counter ------------------- */

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  opacity: 1 !important;
}

.input-counter {
  position: relative;
}

.counter-button {
  position: absolute;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #29425E;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.counter-button:hover {
  color: #0086F9;
}

.increment-button {
  top: 0;
  right: 0;
  border-radius: 0 3px 0 0;
  height: 20px;
}

.decrement-button {
  bottom: 0;
  right: 0;
  border-radius: 0 0 3px 0;
  height: 21px;
}

/* ---------------------- Checkbox ---------------------- */

.checkbox-border {
  border: 1px solid #29425E;
  padding-left: 10px;
  border-radius: 3px;
}

/* .yellow-border:hover {
  border: 1px solid #FDBD01;
} */

.yellow-border-checked {
  border: 1px solid #FDBD01;
}

/* .green-border:hover {
  border: 1px solid #00A94D;
} */

.green-border-checked {
  border: 1px solid #00A94D;
}

/* .blue-border:hover {
  border: 1px solid #0086F9;
} */

.blue-border-checked {
  border: 1px solid #0086F9;
}